# Core
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Machine Learning models
xgboost==1.7.7

# Jupyter support
jupyter==1.0.0
ipykernel==6.29.5

# Utilities
joblib==1.4.2
tqdm==4.66.4
